<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container mt-5">
    <h1 class="mb-4">WELCOME TO Blog!T</h1>
    <div class="mb-4">
        <a href="/add" class="btn btn-primary">
            Create New Blog
        </a>
        <a href="/myblogs" class="btn btn-secondary">
            My Blogs
        </a>

        <form action="/logout" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">
                Logout
            </button>
        </form>
    </div>
    <% if (blogs.length===0) { %>
        <div class="alert alert-info">
            No blogs have been created yet.
        </div>
        <% } else { %>
            <div class="row">

                <% blogs.forEach(blog=> { %>

                    <div class="col-md-6 col-lg-4 mb-4">

                        <div class="card h-100 shadow-sm">

                            <img src="/<%= blog.coverImage %>" class="card-img-top"
                                style="height:220px; object-fit:cover;" alt="Blog Image">

                            <div class="card-body d-flex flex-column">

                                <h3 class="card-title">
                                    <%= blog.title %>
                                </h3>

                                <p class="card-text">
                                    <% if (blog.content.length> 150) { %>
                                        <%= blog.content.substring(0, 150) %>...
                                            <% } else { %>
                                                <%= blog.content %>
                                                    <% } %>
                                </p>

                                <a href="/<%= blog._id %>" class="btn btn-primary mt-auto">
                                    Read More
                                </a>

                            </div>

                        </div>

                    </div>

                    <% }) %>

            </div>

            <% } %>
</body>

</html>